<h1 class="page-header">{{title}}</h1>

<form action="/movies" method="post">
    <div class="form-group">
        <label for="nameField">Movie name</label>
        <input type="text" name="first_name" id="nameField" class="form-control">
    </div>
    <div class="form-group">
        <label for="dateField">Date when watched</label>
        <input type="date" name="date_watched" id="dateField" class="form-control">
    </div>
    <button type="submit" class="btn btn-default">Add</button>

</form>
