<div class="jumbotron">
    <h1>{{title}}</h1>
</div>

<form action="/movies" method="post">
    Name: <label>
    <input type="text" name="first_name">
</label> <br>
    Watched: <label>
    <input type="date" name="date_watched">
</label> <br>
    <input type="submit">
</form>

