<h1>{{title}}</h1>


<form action="/movies" method="post">
    Name: <input type="text" name="first_name"> <br>
    Watched: <input type="date" name="date_watched"> <br>
    <input type="submit">
</form>

