<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/scripts/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
        {{{body}}}
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script src="/scripts/jquery/dist/jquery.min.js"></script>
<script src="/javascripts/bundle.js"></script>
</body>
</html>
