<h1 class="page-header">You have watched</h1>

<div class="list-group">
    {{#each movies}}
        <a href={{this.name}} class="list-group-item">{{this.name}} - {{this.date}}</a>
    {{/each}}
</div>
