<h1 class="page-header">You have watched</h1>

<div class="list-group">
    {{#each movies}}
        <a href={{this.getName}} class="list-group-item">{{this.getName}} - {{this.getDate}}</a>
    {{/each}}
</div>
