{{#if movies}}
    <h1 class="page-header">You have watched</h1>
{{else}}
    <h1 class="page-header">No movies added yet</h1>
{{/if}}

<div class="list-group">
    {{#each movies}}
        <a href="/movies/{{this.id}}" class="list-group-item">{{this.name}} - {{prettifyDate this.date}}</a>
    {{/each}}
</div>
